# HUMDATA

In [ ]:
### Automatically download data
import urllib
url = 'https://data.humdata.org/dataset/3b39f85b-12cf-49cd-aa00-ee3ac04ce61f/resource/235f892e-beea-4d90-8af3-19baf12ea5b9/download/hti_polbndl_rd_cnigs.xlsx'
urllib.request.urlretrieve(url, "hti_polbndl_rd_cnigs.xlsx")

In [2]:
! pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.0.7-py2.py3-none-any.whl (243 kB)
     |████████████████████████████████| 243 kB 2.9 MB/s eta 0:00:01
Collecting et-xmlfile
  Downloading et_xmlfile-1.0.1.tar.gz (8.4 kB)
Building wheels for collected packages: et-xmlfile
  Building wheel for et-xmlfile (setup.py) ... done
  Created wheel for et-xmlfile: filename=et_xmlfile-1.0.1-py3-none-any.whl size=8913 sha256=f69863aaa12b92d631e1e01b56377654513eeaf95b63488a5b8469775db23098
  Stored in directory: /home/jovyan/.cache/pip/wheels/bb/9b/ff/8fdf015c95a57224237bf88fbb9e45237cbe8177213bc13732
Successfully built et-xmlfile
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.0.1 openpyxl-3.0.7

In [16]:
import geopandas as gpd
humdata = gpd.read_file('hti_polbndl_rd_CNIGS/hti_polbndl_rd_cnigs.shp')

In [20]:
humdata.crs

<Projected CRS: EPSG:32618>
Name: WGS 84 / UTM zone 18N
Axis Info [cartesian]:
- E[east]: Easting (metre)
- N[north]: Northing (metre)
Area of Use:
- name: World - N hemisphere - 78°W to 72°W - by country
- bounds: (-78.0, 0.0, -72.0, 84.0)
Coordinate Operation:
- name: UTM zone 18N
- method: Transverse Mercator
Datum: World Geodetic System 1984
- Ellipsoid: WGS 84
- Prime Meridian: Greenwich

In [23]:
humdata = humdata[~pd.isnull(humdata['geometry'])]

In [26]:
humdata = humdata.to_crs(epsg=4326)

In [27]:
humdata.crs

<Geographic 2D CRS: EPSG:4326>
Name: WGS 84
Axis Info [ellipsoidal]:
- Lat[north]: Geodetic latitude (degree)
- Lon[east]: Geodetic longitude (degree)
Area of Use:
- name: World
- bounds: (-180.0, -90.0, 180.0, 90.0)
Datum: World Geodetic System 1984
- Ellipsoid: WGS 84
- Prime Meridian: Greenwich

In [28]:
humdata

,cod_tronc,cod_route,cod_urbain,nom_off,nom_sec,geometry
0,None,None,None,None,None,"LINESTRING (-72.64167 19.24389, -72.64202 19.2..."
1,None,None,None,None,None,"LINESTRING (-72.69068 19.27519, -72.69071 19.2..."
2,None,None,None,None,None,"LINESTRING (-72.69128 19.27525, -72.69121 19.2..."
3,None,None,None,None,None,"LINESTRING (-72.69270 19.26339, -72.69279 19.2..."
4,None,None,None,None,None,"LINESTRING (-72.69128 19.27525, -72.69134 19.2..."
...,...,...,...,...,...,...
78143,None,None,None,None,None,"LINESTRING (-73.40199 18.39383, -73.40182 18.3..."
78144,None,None,None,None,None,"LINESTRING (-72.51490 19.26116, -72.51418 19.2..."
78145,TN0000000002530,None,None,None,None,"LINESTRING (-72.51340 19.26137, -72.51336 19.2..."
78146,TN0000000002530,None,None,None,None,"LINESTRING (-72.51396 19.26496, -72.51398 19.2..."
78147,None,None,None,None,None,"LINESTRING (-72.67269 19.28420, -72.67393 19.2..."

# OSM

In [1]:
import osmnx as ox
import networkx as nx
import geopandas as gpd
import matplotlib.pyplot as plt
import pandas as pd
from pyproj import CRS
%matplotlib inline
import seaborn as sns
import folium

In [2]:
place_name = "Haiti"
hti_graph = ox.graph_from_place(place_name, network_type='drive')
edges = ox.graph_to_gdfs(hti_graph, nodes=False, edges=True)
edges.crs

<Geographic 2D CRS: EPSG:4326>
Name: WGS 84
Axis Info [ellipsoidal]:
- Lat[north]: Geodetic latitude (degree)
- Lon[east]: Geodetic longitude (degree)
Area of Use:
- name: World
- bounds: (-180.0, -90.0, 180.0, 90.0)
Datum: World Geodetic System 1984
- Ellipsoid: WGS 84
- Prime Meridian: Greenwich

In [5]:
edges.reset_index(inplace=True)
edges.drop(['u','v','key'],axis=1, inplace=True)

In [6]:
edges

,level_0,index,osmid,name,highway,oneway,length,geometry,ref,bridge,maxspeed,tunnel,lanes,junction,access,width,service,est_width
0,0,0,49224232,PS Hotel,unclassified,False,234.299,"LINESTRING (-73.91427 18.08219, -73.91437 18.0...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1,446049875,NaN,tertiary,False,796.887,"LINESTRING (-73.91427 18.08219, -73.91392 18.0...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,2,"[446049875, 30018812]",Rue Capois,tertiary,False,399.810,"LINESTRING (-73.91427 18.08219, -73.91436 18.0...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,3,48454003,NaN,tertiary,False,85.521,"LINESTRING (-73.88924 18.19991, -73.88843 18.1...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,4,48454003,NaN,tertiary,False,65.781,"LINESTRING (-73.88924 18.19991, -73.88986 18.1...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
152582,152582,152582,722021562,NaN,residential,False,84.446,"LINESTRING (-74.45454 18.40630, -74.45442 18.4...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
152583,152583,152583,722021561,NaN,residential,False,111.067,"LINESTRING (-74.45555 18.40658, -74.45545 18.4...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
152584,152584,152584,722021561,NaN,residential,False,111.067,"LINESTRING (-74.45458 18.40696, -74.45509 18.4...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
152585,152585,152585,722021562,NaN,residential,False,84.446,"LINESTRING (-74.45458 18.40696, -74.45444 18.4...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
152586,152586,152586,722021562,NaN,residential,False,56.695,"LINESTRING (-74.45458 18.40696, -74.45467 18.4...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
for c in ['osmid','name','highway','oneway','length']:
    edges[c] = edges[c].map(lambda x: x[0] if type(x)==list else '')

In [16]:
edges[['osmid','name','geometry','highway','oneway','length']].to_file('hti_osm_road.shp', index=False)